# Copy to home folder
# $ cp git/.gitconfig ~/.gitconfig


[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[user]
    name = Tomas Pereira de Vasconcelos
    email = tomas@tiqets.com

[credential]
    helper = osxkeychain

[push]
    default = upstream

[pull]
    rebase = true

[help]
    autocorrect = 1

[branch]
    autosetuprebase = always

[color]
    ui = auto

[alias]
    aa = add -A
    cm = commit -m
    ca = !git add -A && git commit -m
    co = checkout
    st = status
    db = branch -d
    pp = !git pull && git push
    mm =  !git pull && git co master && git pull && git co - && git merge master && git push
    sus = !"git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"