.gitattributes !filter !diff

# By default, I am encrypting everything inside the `Mackup/` directory
Mackup/** filter=git-crypt diff=git-crypt

# The following list defines the exceptions to the rule above
# i.e. whitelisted files within `Mackup/`
Mackup/.docker/config.json !filter !diff
Mackup/.mackup/** !filter !diff
Mackup/.mackup.cfg !filter !diff
Mackup/.ssh/config !filter !diff
"Mackup/Library/Application Support/Sublime Text 3/Packages/User/Preferences.sublime-settings" !filter !diff
Mackup/Library/Preferences/com.apple.Terminal.plist !filter !diff
Mackup/Library/Preferences/com.googlecode.iterm2.plist !filter !diff
Mackup/.Brewfile !filter !diff
Mackup/.gitconfig !filter !diff
Mackup/.gitignore_global !filter !diff

# Any other files (outside `Mackup/`) that are also encrypted
clones.zsh filter=git-crypt diff=git-crypt
