[user]
    name = Tomas Pereira de Vasconcelos
    email = tomasvasconcelos1@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input

[credential]
    helper = osxkeychain

[push]
    default = upstream

[pull]
    rebase = true

[help]
    autocorrect = 1

[branch]
    autosetuprebase = always

[color]
    ui = auto

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'    # list all aliases
    ls = log --oneline
    aa = add -A
    cm = commit -m -s
    ca = !git add -A && git cm
    scm = "!f() { faketime \"$(date '+%Y-%m-%d') ${2:-18:17:42}\" git cm \"${1}\"; }; f"
    co = checkout
    st = status
    undo = !git reset HEAD~
    db = branch -D
    dbo = push origin --delete
    nb = "!f() { git co -b $1 && git sus; }; f"
    pp = !git pull && git push
    mm =  !git pull && git co master && git pull && git co - && git merge master && git push
    sus = !"git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
    obliterate = "!f() { git filter-branch -f --index-filter \"git rm -r --cached \\\"$1\\\" --ignore-unmatch\" --prune-empty --tag-name-filter cat -- --all; }; f"
    hub = !gh repo view --web
