[user]
    name = Tomas Pereira de Vasconcelos
    email = tomasvasconcelos1@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input

[credential]
    helper = osxkeychain

[push]
    default = upstream

[pull]
    rebase = true

[help]
    autocorrect = 1

[branch]
    autosetuprebase = always

[color]
    ui = auto

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'    # list all aliases
    ls = log --oneline
    aa = add -A
    cm = commit -m
    ca = !git add -A && git commit -m
    co = checkout
    st = status
    undo = !git reset HEAD~
    db = branch -D
    dbo = push origin --delete
    nb = "!f() { git co -b $1 && git sus; }; f"
    pp = !git pull && git push
    mm =  !git pull && git co master && git pull && git co - && git merge master && git push
    sus = !"git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
